body{
    background-color: rosybrown;
}
.board{
    box-sizing: border-box;
    background-color: tan;
    width: 600px;
    margin: 0 auto;
}
.row{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
}
.cell{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 175px;
    text-align: center;

}
.cell:hover{
    box-sizing: border-box;
    background-color: rgb(143, 123, 96);
}
.options{
    display: block;
    text-align: center;
    width: 600px;
    margin: 25px auto ;
}
.state{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
}
.mainButton{
    border: none;
    width: 75px;
    height: 35px;
    color: rgb(143, 123, 96);
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.newButton{
    border: none;
    width: 75px;
    height: 35px;
    color: rgb(143, 123, 96);
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 0 25px;
}
@media(max-width: 700px) {
    .board{
        width: 450px;
    }
    .row{
        width: 450px;
        height: 150px;
    }
    .options{
        width: 450px;
    }
    .cell{
        font-size: 125px;
    }
}
@media(max-width: 550px) {
    .board{
        width: 390px;
    }
    .row{
        width: 390px;
        height: 130px;
    }
    .options{
        width: 350px;
    }
    .cell{
        font-size: 100px;
    }
}
@media(max-width: 430px) {
    .board{
        width: 300px;
    }
    .row{
        width: 300px;
        height: 100px;
    }
    .options{
        width: 300px;
    }
    .cell:active, .cell:focus, .cell:hover, .cell:target {
        box-sizing: border-box;
        background-color: tan;
        animation: anim 1s linear 0s 1 ;
    }
    .cell{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 55px;
    }
}
@keyframes anim {
    0% {
        background-color: rgb(143, 123, 96);
    }
    100% {
        background-color: tan;
    }
}